[submodule "buildroot"]
	path = buildroot
	url = https://github.com/UrusTeam/buildroot.git
[submodule "linux"]
	path = linux
	url = https://github.com/UrusTeam/linux.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/UrusTeam/u-boot.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/UrusTeam/crosstool-ng.git
