language: cpp
sudo: false

dist: xenial

cache:
  ccache: true
  directories:
    - $HOME/opt

addons:
  apt:
    sources:
    packages:
      - build-essential
      - gawk
      - ccache
      - gcc
      - g++
      - util-linux
      - gperf

before_install:
    - test -n $CC  && unset CC
    - test -n $CXX && unset CXX
    - ./install_deps.sh
    - ./setup-ci.sh

script:
    - export ONCI="1"
    - test -n $CC  && unset CC
    - test -n $CXX && unset CXX
    - cd linux && git checkout master-urus-rpi2 && cd ..
    - ./build-ct-ng.sh i686-urus arm-urus

compiler:
  - g++
