language: cpp
sudo: false

dist: xenial

cache:
  ccache: true
  directories:
    - $HOME/opt

addons:
  apt:
    sources:
    packages:
      - build-essential
      - gawk
      - ccache
      - gcc
      - g++
      - util-linux
      - gperf

before_install:
    - ./setup-ci.sh

script:
    - cd linux && git checkout master-urus-rpi2 && cd ..
    - ./build-ct-ng.sh i686-urus arm-urus

compiler:
  - gcc
